

.myHero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100vw;
  overflow: hidden;

  img {
    position: relative;
    aspect-ratio: 2/1;
    border: 2px solid black;
  }

  table {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.371);
    padding: 500px 100vh;

    ul {
    list-style-type: none;
    }
  }

  #myH1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: cursive;
    text-shadow: 3px 3px 3px #ababab;
    padding-top: 2rem;
  }

  #myH4 {
    color: white;
    display: flex;
    justify-content: center;
  }

  #btn {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0 1rem 0;
  }
}

.container {

  h1 {
    font-family: cursive;
    text-shadow: 3px 3px 3px #ababab;
  }

  #myFood {

    border: 2px solid black;
    margin-bottom: 2rem;
  }

  #dinnerImg {
    // position: relative;
    padding-top: 2rem;
    width: 20rem;
  }

  #dinnerTxt {
    h2 {
      font-family: cursive;
      text-shadow: 3px 3px 3px #ababab;

    }
  }

  #h2Special {
      font-family: cursive;
      text-shadow: 3px 3px 3px #ababab;
      padding-top: 2rem;
  }

  #pSpecial {
    padding-bottom: 2rem;
  }
}
