<div class="myHero w-100">
  <img
    src="https://cdn.pixabay.com/photo/2016/10/04/05/21/bar-1713610_1280.jpg"
    alt="hero"
    class=""
  />
  <h1 class="">Il Gambero Rosso</h1>

  <h4>The best food you have ever ordered!</h4>

  <button routerLink="/menu" class="btn btn-primary p-2" id="menu">Menu</button>
  <button routerLink="/about-us" class="btn btn-primary p-2" id="reservation">
    Reservation
  </button>
</div>

<!-- Starts the container -->

<div class="container text-center">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1"></div>
  <h1 class="p-5">Il Gambero Rosso</h1>
  <div class="myFood">
    <div>
      <img
        class="border m-5"
        src="https://cdn.pixabay.com/photo/2019/01/25/21/07/food-3955317_1280.jpg"
        alt="Gambero"
        width="300"
      />
    </div>
    <div class="m-5">
      <h2>Join us for a dinner</h2>
      <br />
      <p>
        The Il Gambero on the Park function room is one of Lyon Street's most
        desirable entertainment spaces. We specialise in birthday parties,
        engagements, sporting club dinners, Christmas parties and christenings.
        Directly opposite Argyle Square, our balcony glass doors and wall give
        your guests uninterrupted views of the park. When the weather is right
        we can retract the roof, converting the room into Carlton's only open
        air rooftop terrace.
      </p>
    </div>
  </div>
  <div class="ms-5">
    <h2 class="">What makes Restaurant Group so special</h2>
    <br />
    <p class="m-5">
      Is it that each of us has over 20 years of experience in the
      restaurant/hospitality industry? Is it the passion each of us has for
      finding innovative solutions for customers? It's all that and much more.
      The bottom line is that we've been in your shoes, whether you're an owner,
      manager, chef or donut maker. We've all worked in different facets of the
      restaurant industry, and additionally we have our own special areas of
      expertise. So whether you need help from the ground up, or just need a new
      menu, server training programs, marketing and advertising strategies, or
      assistance with your bookkeeping and accounting, you've come to the right
      place. Let us help you make your venture a success. Although we have done
      projects in California, and as far away as Idaho, our focus is here in the
      Northwest, namely Oregon and Washington. If you're still not sure whether
      you're ready to hire a consultant, learn more about the benefits here or
      contact us today for a free consultation.
    </p>
  </div>
</div>
