<div class="container pt-2 mt-2 mb-2 border border-dark">
  <h2 class="bg-body-secondary">Products you have chosen:</h2>
  <h4 class="text-danger">
    If you spend more than 40€ for our products we offer 15% discount.
  </h4>
  <div class="border-bottom" *ngFor="let val of cart">
    <p>{{ val.product }}</p>
    <img
      class="rounded"
      src="{{ val.image }}"
      alt="product"
      width="100"
      height="100"
    />
    <p>{{ val.price | currency : "EUR" }}</p>
  </div>
  <div class="bg-body-secondary border border-black mb-2">
    <h1 class="">Summary</h1>
    <h2>Price: {{ total | currency : "EUR" }}</h2>
    <h2>Service: {{ calcTenPercentOfTotal | currency : "EUR" }}</h2>

    <ng-template #elseBlock>
      <h2 class="border-top border-black">
        Total: {{ total | currency : "EUR" }}
      </h2>
    </ng-template>

    <ng-template [ngIf]="total >= 40" [ngIfElse]="elseBlock">
      <h2>-15% off: {{ calc15PercentDiscount | currency : "EUR" }}</h2>
      <h2 class="border-top border-black">
        Total: {{ discountTotal | currency : "EUR" }}
      </h2>
    </ng-template>
  </div>
</div>
<form class="m-5" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <h1 class="p-3 myStyle">Order Form</h1>
    <p>Insert your correct name and your address.</p>
    <hr />
    <label class="pe-3" for="name"> <b>Name:</b> </label>
    <input
      id="name"
      type="text"
      placeholder="enter your name"
      formControlName="name"
    />
  </div>
  <br />
  <div>
    <label class="pe-3" for="address"> <b>Address:</b> </label>
    <input
      id="address"
      type="text"
      placeholder="enter your address"
      formControlName="address"
    />
  </div>
  <br />
  <button (click)="clearCart()" class="btn btn-success" type="submit">
    Purchase
  </button>
</form>
