<div class="bg-secondary-subtle about">
  <div class="container">
    <h1 class="text-center p-3">Ristorante Il Gambero Rosso</h1>
    <img
      src="https://cdn.pixabay.com/photo/2017/11/02/19/14/man-2912189_1280.jpg"
      alt=""
      width="100%"
    />
    <h2 class="hand text-center p-4">About Us</h2>
    <p class="hand p-3">
      For 50 years, Il Gambero has been serving the most delicious Italian
      cuisine on Lyon Street, paired with the service that only a family-run
      business can provide. Since the start, our restaurant has been sustained
      by our belief that you, your family and your friends should never have to
      pay too much for a top quality dining experience. Situated opposite the
      famous Argyle Square, right in the heart of Carlton's Little Italy, our
      restaurant has become an icon of one of Melbourne's most famous eating
      destinations. Il Gambero sources the best Italian and local produce to
      create our signature dishes. For three generations, we have loved sharing
      our home-style cooking in a family atmosphere, and catering for groups of
      any size. Our upstairs function room caters for anywhere between 20 to 150
      guests, and is a perfect venue for a birthday, wedding reception or
      engagement party. We look forward to welcoming both loyal regulars and new
      customers. Be sure that whoever you may be, we will be delivering
      fantastic food, great prices, and a terrific experience at Il Gambero.
    </p>
  </div>
</div>
